/*------------*\
    Desktop
\*------------*/
@import '../sass/lib/variables';
.data__container{
  display: flex;
  justify-content: space-evenly;
}
.data__container div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value{
  width: 40%;
}
